<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by Brendan Lynn in Lake Placid, FL on a mission to become a pro programmer.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
</div>